*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}
@media (max-width: 600px) {
    img {
  max-width: 100%;
  height: auto;
  display: block;
}
    .container {
  width: 100%;
  max-width: 250px; /* caps the width on small screens */
}
}
@media (max-height: 600px) {
    img {
  max-height: 100%;
  width: auto;
  display: block;
}
.container {
  height: 100%;
  max-height: 250px; /* caps the width on small screens */
}

}


